@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

header {
  background-color: #fffb92;
  font-family: inherited
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
}

footer {
  font-size: 1rem;
  background-color: #fffb92;
  color: #808080;
  text-align: center;
  padding: 5px 0;
}

h1 {
  font-size: 2rem;
}

#container {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
}

.message {
  position: absolute;
  font-size: 1.5rem;
  line-height: 1.8;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  opacity: 0;
  top: 20%; /*display message direct inbetween active cards*/
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.message button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: #fffb92;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
}

.message button:active {
  background-color: #fffdc4;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
  outline: none;
}

.play-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem;
  height: auto;
  margin 0 auto;
  padding: 10px;
  position: relative;
  align-items: center;
  /* background-color: red; */
}

.player-card {
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  height: 300px;
  width: 50%; /**/
  margin: 15px;
  position: relative;
}

.player-card img {
  max-width: 180px;
  max-height: 270px;
  border: 2px dashed blue;
  border-radius: 5%;
}

.player-card:hover {
  opacity: 0.33;
  cursor: pointer;
}

.player-card.played:hover {
  opacity: 1;
  cursor: auto;
}

.ai-card {
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  height: 300px;
  width: 50%; /**/
  margin: 15px;
  position: relative;
  transform: rotate(180deg);
}

.ai-card img {
  max-width: 180px;
  max-height: 270px;
  border: 2px dashed red;
  border-radius: 5%;
}

/* TODO: Animate player or ai card elements to go to bottom left or top left */
/*****************WIN******************/

/*When player wins:*/
.player-card.win img {
  /*Animate to bottom left*/
  transition: transform 0.6s ease-in;
  transform: translate(-250%, 65%) scale(0.0);
}

/*When AI wins:*/
.ai-card.win img {
  /*Animate to top left*/
  transition: transform 0.6s ease-in;
  transform: translate(250%, 65%) scale(0.0);
}

/*****************LOSE******************/
/*When player loses to AI:*/
.player-card.lose img {
  /*Animate to top left*/
  border-color: red;
  transition: transform 0.6s ease-in;
  transform: translate(-250%, -200%) scale(0.0);
}

/*When AI loses to player:*/
.ai-card.lose img {
  /*Animate to bottom left*/
  border-color: blue;
  transition: transform 0.6s ease-in;
  transform: translate(250%, -200%) scale(0.0);
}

/*****************TIE******************/
/*When player card ties with AI:*/
.player-card.tie img {
  border-color: orange;
  transition: transform 0.6s ease-in;
  transform: translate(0%, 65%) scale(0);
}

/*When AI card ties with player:*/
.ai-card.tie img {
  border-color: orange;
  transition: transform 0.6s ease-in;
  transform: translate(0%, 65%) scale(0);
}

.player-tie {
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  width: 60%;
  height: 50px;
  margin-left: 7%;
  position: relative;
  /* border: 2px solid blue; */
  /* background-color: red; */
}

.player-tie img {
  border: 2px dashed orange;
  height: 45px;
  width: 30px;
  border-radius: 10%;
}

.ai-tie {
  flex-direction: row;
  text-align: center;
  border-radius: 10px;
  width: 60%;
  height: 50px;
  margin-left: 10%;
  padding: 0;
  position: relative;
  /* border: 2px solid red; */
  /* background-color: red; */
}

.ai-tie img {
  border: 2px dashed orange;
  height: 45px;
  width: 30px;
  border-radius: 10%;
}

/*****************WIN TIE animations******************/
.player-tie.win img {
  position: absolute;
  border: 2px dashed blue;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 0%) scale(0);
}

.ai-tie.win img {
  position: absolute;
  border: 2px dashed red;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 0%) scale(0);
}

/*****************LOSE TIE animations******************/
.player-tie.lose img {
  position: absolute;
  border: 2px dashed red;
  transition: transform .6s ease-in;
  transform: translate(-1000%, -1000%) scale(0);
}

.ai-tie.lose img {
  position: absolute;
  border: 2px dashed blue;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 1000%) scale(0);
}
/****************************************/

.ui {
  display: flex;
  font-size: 1.8rem;
}

.ui-player {
  border: 1px dashed blue;
  /* padding: 10px 10px; */
}

.ui-computer {
  border: 1px dashed red;
  /* padding: 10px 10px; */
}

.ai-score {
  margin-right: 10px;
}

.player-score {
  margin-right: 10px;
}

/* MEDIA: */
@media (max-width: 1024px) {

  .play-area {
    width: 100vw;
  }

  .card {
    height: 20rem;
    width: 50%; /**/
  }

  .card h2{
    font-size: 3rem;
  }

  footer {
    font-size: 1.5rem;
  }
}

@keyframes moveUp {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(250, 65);
  }
}
